<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo">
  
  <insert id="insertDev">
  	insert into dev
  	values(
  		seq_dev_no.nextval,
  		#{name},
  		#{career},
  		#{email},
  		#{gender},
  		#{lang},
  		default
  	)
  </insert>
  
  <update id="updateDev">
  	update dev 
  	set name = #{name},
  		career = #{career},
  		email = #{email},
  		gender = #{gender},
  		lang = #{lang}
	where no = #{no}
  </update>
  
  <delete id="deleteDevByNo">
  	delete from dev where no = #{no}
  </delete>
  
  <select id="selectDevByNo" resultMap="devMap">
  	select * from dev where no = #{no}
  </select>
  
  <select id="selectDevList" resultMap="devMap">
  	select *
  	from dev
  	order by no
  </select>
  <resultMap type="dev" id="devMap">
  	<result column="lang" property="lang"/>
  </resultMap>
</mapper>