<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.demo.model.dao.DemoDao">
  
  <insert id="insertDev">
  	insert into dev
  	values(
  		seq_dev_no.nextval,
  		#{name},
  		#{career},
  		#{email},
  		#{gender},
  		#{lang},
  		default
  	)
  	<selectKey order="AFTER" resultType="_int" keyProperty="no"><!-- 08/18 restpAPI하면서 추가함 -->
  		select seq_dev_no.currval
  		from dual
  	</selectKey>
  </insert>
  
  <update id="updateDev">
  	update dev 
  	set name = #{name},
  		career = #{career},
  		email = #{email},
  		gender = #{gender},
  		lang = #{lang}
	where no = #{no}
  </update>
  
  <update id="updatePartialDev">
  	update dev 
  	<set><!-- set태그는 set구문 마지막의 , 를 제거해줌 -->
  		<if test="name != null and name != ''">
		  	name = #{name},
  		</if>
  		<if test="career != null and career != ''">
		  career = #{career},
  		</if>
  		<if test="email != null and email != ''">
		  email = #{email},
  		</if>
  		<if test="gender != null and gender != ''">
		  gender = #{gender},
  		</if>
  		<if test="lang != null">
		  lang = #{lang}
  		</if>
  	</set> 
	where no = #{no}
  </update>
  
  
  
  <delete id="deleteDevByNo">
  	delete from dev where no = #{no}
  </delete>
  
  <select id="selectDevByNo" resultMap="devMap">
  	select * from dev where no = #{no}
  </select>
  
  <select id="selectDevList" resultMap="devMap">
  	select *
  	from dev
  	order by no
  </select>
  <resultMap type="dev" id="devMap">
  	<result column="lang" property="lang"/>
  </resultMap>
</mapper>