<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.member.model.dao.MemberDao">
  <insert id="insertMember">
  	insert into member
  	values(
  		#{memberId},
  		#{password},
  		#{name},
  		#{gender},
  		#{birthday},
  		#{email},
  		#{phone},
  		#{address},
  		#{hobby},
  		default,
  		default,
  		default
  	) 	
  </insert>
</mapper>